.cart-dropdown-container {
    position: absolute;
    top: 60px;
    width: 200px;
    height: 350px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    background: #fff;
    .cart-button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px;
        margin-top:auto;

    }
}